# **References**

- https://www.kdnuggets.com/how-to-dataframe-map-element-wise-operations-pandas

# **Use Case 01 - To Apply Custom Function**

In [3]:
import pandas as pd

# Sample dataframe with daily temperatures in Fahrenheit
df = pd.DataFrame({'temp_F': [85, 75, 80, 95, 90]})

df

   temp_F
0      85
1      75
2      80
3      95
4      90

In [4]:
# Custom function to convert temperature from Fahrenheit to Celsius
def convert_F_to_C(temp_F):
    return round((temp_F - 32) * 5/9, 2)

# Apply the custom function to the dataframe using the map() function
df['temp_C'] = df['temp_F'].map(convert_F_to_C)

# Print the final dataframe
print(df)

   temp_F  temp_C
0      85   29.44
1      75   23.89
2      80   26.67
3      95   35.00
4      90   32.22

# **Use Case 02 - To Encode**

In [6]:
import pandas as pd

# Sample DataFrame with numerical grades
grades = {'Student': ['Qasim', 'Babar', 'Sonia'], 'Grade': [90, 85, 88]}
df = pd.DataFrame(grades)
df

  Student  Grade
0   Qasim     90
1   Babar     85
2   Sonia     88

In [8]:
# Dictionary to map numerical grades to grades
grade_map = {90: 'A', 85: 'B', 88: 'B+'}

# Applying the dictionary mapping to the DataFrame
df['Letter_Grade'] = df['Grade'].map(grade_map)
df

  Student  Grade Letter_Grade
0   Qasim     90            A
1   Babar     85            B
2   Sonia     88           B+

# **Use Case 03 - Handle Missing Value**

In [10]:
import pandas as pd
import numpy as np

# Sample DataFrame of Grocery Store with some NaN values for price
df = pd.DataFrame({
    'Product': ['Apple', 'Banana', 'Cherry', 'Date'],
    'Price': [1.2, np.nan, 2.5, np.nan]
})

df

  Product  Price
0   Apple    1.2
1  Banana    NaN
2  Cherry    2.5
3    Date    NaN

In [11]:
# Mapping function that formats the prices and handles missing values
def map_func(x):
    if pd.isna(x):
        return 'Unavailable'
    else:
        return f'${x:.2f}'

# With default na_action=None
df['Price_mapped_default'] = df['Price'].map(map_func)

# With na_action='ignore'
df['Price_mapped_ignore'] = df['Price'].map(map_func, na_action='ignore')

# Print the resulting DataFrame
print(df)

  Product  Price Price_mapped_default Price_mapped_ignore
0   Apple    1.2                $1.20               $1.20
1  Banana    NaN          Unavailable                 NaN
2  Cherry    2.5                $2.50               $2.50
3    Date    NaN          Unavailable                 NaN

# **Use Case 04 - Chain Multiple**

In [12]:
import pandas as pd

# DataFrame representing sales data
sales_data = pd.DataFrame({
    'Product': ['Apple', 'Banana', 'Cherry'],
    'Price': ["1.2", "0.8", "2.5"]
})

sales_data

  Product Price
0   Apple   1.2
1  Banana   0.8
2  Cherry   2.5

In [13]:
# Functions for each transformation step
def format_price(price):
    return float(price)

def calculate_tax(price):
    tax_rate = 0.1  
    return price * (1 + tax_rate)

def apply_discount(price):
    discount_rate = 0.2  
    return price * (1 - discount_rate)

# Chain transformations using dataframe.map()
sales_data['Formatted_Price'] = sales_data['Price'].map(format_price).map(calculate_tax).map(apply_discount)

# Print the resulting DataFrame
sales_data

  Product Price  Formatted_Price
0   Apple   1.2            1.056
1  Banana   0.8            0.704
2  Cherry   2.5            2.200